#postJob{
 border: 1px solid black;
  background-color:#D3D3D3;
  padding-top: 50px;
  padding-right: 15px;
  padding-bottom: 50px;
  padding-left: 600px;
	}
	
#post{
	background-color:#f01a23;
	color:	#FFFFFF;
}

#cardspace{
	    margin: 0 auto 1.8rem;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 1.8rem;
    margin-left: auto;
    padding-top:20px;
     padding-right:20px;
      padding-left:20px;
       padding-bottom:20px;

}